<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>jhuaAssignment5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>60E993F31E54E4830078DB16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60E994071E54E4860078DB16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60E994121E54E4860078DB16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
